*.iws
out
.idea
*.iml
*.ipr
*.ids
.classpath
.gitignore.swp
.project
.settings/
gradle.properties
*.log
*.log.*
src/main/resources/win
build/
bin/
.gradle/*
.gradle/1.0-milestone-3/taskArtifacts/cache.bin
.metadata
.gradle
.gradle/1.0-milestone-3/taskArtifacts/cache.properties
ibatisOutput/
/WebContent/
